* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #33333398;
  font-family: "Arial", sans-serif;
}

section {
  text-align: center;
}
.game-title {
  color: aqua;
  font-size: 52px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 10px;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
  background-color: rgba(250, 235, 215, 0.726);
}

.cell {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}
.game-status {
  color:rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 50px;
}
.game-restart {
  width: 150px;
  height: 50px;
  background-color: aqua;
  border-radius: 5px;
  border-color: yellow;
  cursor: pointer;
}
footer {
  position: absolute;
  bottom: 0px;
  color: #fff;
 display: flex;
}

.footer {
  height: 100px;
  line-height: 30px;
  font-size: 16px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  box-sizing: border-box;
  padding: 50px 20px;


}

.footer-link {
  text-decoration: none;
  color: rgb(0, 255, 85);
  cursor: pointer;
  transition: .5s;
}

.footer-link:hover {
  text-decoration: none;
  color: rgb(255, 166, 0);
}

.footer-github {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 186px;
  height: 50px;
}

.footer-year {
  margin: 0 20px;
}
.footer-a {
  display: block;
  width: 32px;
  height: 32px;  
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .5s;
}

.footer-a:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}