* {
  padding: 0;
  margin: 0;
}
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(33, 8, 56);
  color: #fff;
}
header {
  border-bottom: 7px solid rgb(185, 221, 57);
}
.container {
  width: 95%;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 0;
}

.nav h2 {
  font-size: 24px;
}
.search {
  
}
